body {
  /* background: #000000; */
}
.Input--dark,
.Select--dark,
.Range--dark,
.Select__optionContainer--dark {
  background: #0c0c0c;
}

/* Лого + Кнопка смены темы */
.header {
  display: flex;
  justify-content: space-between;
  margin: 25px 20px;
}

/* Блок кнопок фильтрации */
.filters__box {
  display: block;
  gap: 15px;
  margin: 0 20px;
}
.filters__box__single {
  width: 100%;
  height: 45px;
  margin: 0px 0px 15px;
}

/* Блок галлереи картин */
.content__box {
  margin: 45px 20px;
  margin-bottom: 30px;
}
.single__content {
  position: relative;
  border-radius: 20px;
  margin: 20px 0;
  overflow: hidden;
  background: url(./img/background_kitty.jpg) center/cover no-repeat;
  height: 205px;
}
/* .single_art {
  width: 100%;
  border-radius: 20px;
} */
.single__content__tooltip {
  position: absolute;
  height: 145px;
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  bottom: 0;
  padding-left: 15px;

  transform: translateY(115px);
  transition: transform 0.5s;
}
.single__content:hover .single__content__tooltip {
  transform: none;
}

/* Блок смены страниц */
.pagination_box {
  display: flex;
  justify-content: center;
  margin: 0 20px 34px;
  /* margin-bottom: 34px; */
  border-radius: 8px;
}

/* Смена стилей под ширину экрана */

@media screen and (min-width: 768px) {
  .header {
    margin: 35px 34px;
  }
  .filters__box {
    display: flex;
    justify-content: space-between;
    margin: 0px 34px 45px;
    gap: 20px;
  }
  .filters__box__single {
    width: calc(25% - 15px);
    flex: auto;
    margin: 0 0;
  }
  .content__box {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 0px 34px;
    gap: 20px 20px;
  }
  .single__content {
    height: 249px;
    flex: 0 0 calc(50% - 10px);
    margin: 0 0;
  }
  .pagination_box {
    margin: 0px 34px;
    margin-top: 35px;
    margin-bottom: 54px;
    width: 280px;
    height: 41px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    margin: 35px 42px;
  }
  .filters__box {
    margin: 0 42px 45px;
    gap: 20px;
  }
  .content__box {
    margin: 0px 42px;
    gap: 20px 20px;
  }
  .single__content {
    height: 230px;
    flex: 0 0 calc(33.333% - 13.333px);
    margin: 0 0;
  }
  .pagination_box {
    margin: 0px 42px;
    margin-top: 40px;
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 1366px) {
  .header {
    margin: 35px 123px;
  }
  .filters__box {
    margin: 0 123px 45px;
  }
  .content__box {
    margin: 0px 123px;
    gap: 20px 20px;
  }
  .single__content {
    height: 275px;
    margin: 0 0;
  }
  .pagination_box {
    margin: 0px 123px;
    margin-top: 40px;
    margin-bottom: 97px;
  }
}
