* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appBox {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.darkTheme {
  background-color: #000000;
}
.lightTheme {
  background-color: #ffffff;
}

.Input--dark,
.Select--dark,
.Range--dark,
.Select__optionContainer--dark,
.Range__сontainer--dark {
  background: #0c0c0c;
}

/* Лого + Кнопка смены темы */
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 25px;
}
.header img {
  margin-top: 25px;
}

/* Блок кнопок фильтрации */
.filters__box {
  display: block;
  gap: 15px;
  margin: 0 20px;
}
.filters__box__single {
  width: 100%;
  height: 45px;
  margin: 0px 0px 15px;
}
.input {
  font-weight: 400;
  font-size: 15px;
}
.range__input {
  width: 110px;
  height: 45px;
  border-radius: 8px;
  padding-left: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  background: #efefef;
  border: none;
}
.range__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.3);
}
.range__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range__boxSeparator {
  width: 12px;
  height: 0px;
  border: 1px solid #000000;
  margin: 15px 6px;
}
.range__boxSeparator--light {
  border: 1px solid #ffffff;
}
.Range__сontainer {
  box-shadow: 0px 0px 0px 1px black;
  border: none;
}
.Range__сontainer--dark {
  box-shadow: 0px 0px 0px 1px white;
  border: none;
}

/* Блок галлереи картин */
.content__box {
  margin: 45px 20px;
  margin-bottom: 30px;
}
.single__content {
  position: relative;
  border-radius: 20px;
  margin: 20px 0;
  overflow: hidden;
  height: 205px;
}

.single__content__tooltip {
  position: absolute;
  height: 145px;
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  bottom: 0;
  padding-left: 15px;
  transform: translateY(115px);
  transition: transform 0.5s;
}
.single__content__tooltip h2 {
  margin: 3px 0 6px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
}
.single__content__tooltip h3 {
  margin: 0 0 5px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
}
.single__content__tooltip h3 span {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 15px;
}
.single__content:hover .single__content__tooltip {
  transform: none;
}

/* Блок смены страниц */
.pagination__box {
  margin: 0 auto 0;
}
.PaginationPage {
  font-weight: 500;
  font-size: 18px;
  height: 41px;
  width: 41px;
  margin-bottom: 34px;
}

/* Адаптив */

@media screen and (min-width: 768px) {
  .header {
    margin: 0 34px 35px;
  }
  .header img {
    margin-top: 35px;
  }
  .filters__box {
    display: flex;
    justify-content: space-between;
    margin: 0px 34px 45px;
    gap: 20px;
  }
  .filters__box__single {
    width: calc(25% - 15px);
    flex: auto;
    margin: 0 0;
  }
  .range__box {
    flex-direction: column;
  }
  .Range__сontainer {
    width: 100%;
  }
  .content__box {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 0px 34px;
    gap: 20px 20px;
  }
  .single__content {
    height: 249px;
    flex: 0 0 calc(50% - 10px);
    margin: 0 0;
  }
  .pagination__box {
    margin: 35px 34px 0;
  }
  .PaginationPage {
    margin-bottom: 54px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    margin: 0 42px 35px;
  }
  .filters__box {
    margin: 0 42px 45px;
    gap: 20px;
  }
  .content__box {
    margin: 0px 42px;
  }
  .single__content {
    height: 230px;
    flex: 0 0 calc(33.333% - 13.333px);
    margin: 0 0;
  }
  .pagination__box {
    margin: 40px 42px 0;
  }
  .PaginationPage {
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 1366px) {
  .header {
    margin: 0 123px 35px;
  }
  .filters__box {
    margin: 0 123px 45px;
  }
  .range__box {
    flex-direction: row;
  }
  .range__input {
    width: 95px;
  }
  .range__boxSeparator {
    margin: 0 10px;
  }
  .content__box {
    margin: 0px 123px;
  }
  .single__content {
    height: 275px;
    margin: 0 0;
  }
  .pagination__box {
    margin: 40px 123px 0;
  }
  .PaginationPage {
    margin-bottom: 97px;
  }
}
